* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rightSide{
  background-image: url(../../assets/images/LoginBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


